<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>
        <br/>
        <p>一枚程序员</p>
        <p>爱好：寻找消失的传国玉玺，come on baby!</p>
        <p>保持童心，坚持最初的dream！</p>


        <h2>Contact Me</h2>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>


        <h2>History</h2>
        <ul>
            <li>2019年，建站，托管于 Github Pages</li>
        </ul>


        <h2>Encourage</h2>
        <p>本站所有文章和源码均免费开放，如果我的文章帮助或者触动了您，您可以自愿赞赏我3.00元吃一个 巧乐兹 </p>
        <p align="center">
            <img src="https://yaofengdoit.github.io/assets/images/fengSir.jpg" width="200px" height="200px"/>
            <br/>
            微信扫一扫
        </p>

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>